.user {
  margin-bottom: 30px;
  flex-grow: 3;
}

.user__inner {
  display: flex;
  justify-content: space-between;
}

.user__list-header {
  margin-top: 0;
  margin-bottom: 20px;
}

.user__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.user__item {
  display: flex;
  align-items: center;
}

.user__item:not(:last-child) {
  margin-bottom: 10px;
}

.user__title {
  margin: 0;
}

.user__img {
  width: 12%;
  max-height: 28px;
  border-radius: 65%;
}

@media (max-width: 719px) {
  .user__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  .user__list:not(:last-child) {
    margin-bottom: 25px;
  }
}
