@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src:
    local("Rajdhani"),
    local("Rajdhani"),
    url("../src/fonts/Rajdhani.woff2") format("woff2"), /* Super Modern Browsers */
    url("../src/fonts/Rajdhanibold.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  src:
    local("Rajdhani"),
    local("Rajdhani"),
    url("../src/fonts/Rajdhanimedium.woff2") format("woff2"), /* Super Modern Browsers */
    url("../src/fonts/Rajdhanimedium.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src:
    local("Rajdhani"),
    local("Rajdhani"),
    url("../src/fonts/Rajdhanibold.woff2") format("woff2"), /* Super Modern Browsers */
    url("../src/fonts/Rajdhanibold.woff") format("woff"); /* Modern Browsers */
}

body {
  margin: 0;
  font-family: "Rajdhani", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.button:hover,
.button:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.button:active {
  opacity: 0.5;
}

.button:disabled {
  opacity: 0.1;
}

@media (max-width: 959px) {
  .container {
    max-width: 959px;
  }
}

@media (max-width: 719px) {
  .container {
    max-width: 719px;
  }
}
